services:
  mariadb:
    build: 
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    image: mariadb
    restart: always
    secrets:
      - db_password
      - db_root_password
    env_file:
      - .env
    volumes:
      - /home/yrodrigu/data/mariadb:/var/lib/mysql
    networks:
      - inception_network

  wordpress:
    build: 
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    image: wordpress
    restart: always
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    env_file:
      - .env
    volumes:
      - /home/yrodrigu/data/wordpress:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception_network

  nginx:
    build: 
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    image: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - /home/yrodrigu/data/wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception_network

networks:
  inception_network:
    driver: bridge

secrets:
    db_password:
        file: ../secrets/db_password.txt
    db_root_password:
        file: ../secrets/db_root_password.txt
    wp_admin_password:
        file: ../secrets/wp_admin_password.txt
    wp_user_password:
        file: ../secrets/wp_user_password.txt
